In [4]:
import plotly.express as px
import panel as pn
import pandas as pd
import os
from pathlib import Path
from dotenv import load_dotenv
import datetime as dt
import numpy as np

import hvplot.pandas
import plotly.express as px

In [5]:
dxy_hist_path = Path("dxy-price-history.csv")
dxy_hist_df = pd.read_csv(dxy_hist_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
dxy_hist_df.index = pd.to_datetime(dxy_hist_df.index)
dxy_hist_df.head()

                  Open        High         Low       Close   Adj Close  Volume
Date
1971-08-24  117.839996  117.839996  117.839996  117.839996  117.839996     0.0
1971-08-25  117.839996  117.839996  117.839996  117.839996  117.839996     0.0
1971-08-26  117.839996  117.839996  117.839996  117.839996  117.839996     0.0
1971-08-27  117.839996  117.839996  117.839996  117.839996  117.839996     0.0
1971-08-29         NaN         NaN         NaN         NaN         NaN     NaN